.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.basliq{
  color: red;
}
.esas{
  color: black;
  background-color: red;
  font-size: 40px;
}
.esas:hover{
  background-color: rgb(35, 174, 0);
}
.duyme{
  color: red;
  background-color: black;
  width: 300px;
  height: 50px;
}
.duyme:hover{
  background-color: aqua;
  color: yellow;

}
.f1{
  font-size: 40px;
  color: black;
}
.f1:hover{
  background-color: blue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}


